<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
    <!-- User profile image -->
    <div class="profile-img"> <img src="assets/images/users/profile.png" alt="user"> </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text"> Markarn Doe <i class="ti-angle-down font-12 m-l-5"></i></div>
    <!-- <mat-menu #sdprofile="matMenu" class="mymegamenu" >
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Setting Connection
        </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications
        </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Sign Out
        </button>
    </mat-menu> -->

</div>
<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink routerLinkActive="selected">
        <a class="" appAccordionToggle [routerLink]="['/employee']" *ngIf="role === 2">
            <mat-icon>account_circle</mat-icon>
            <span>Employee</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
    <mat-list-item appAccordionLink routerLinkActive="selected">
        <a class="" appAccordionToggle [routerLink]="['/company']" *ngIf="role === 1">
            <mat-icon>account_box</mat-icon>
            <span>Company</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
    <mat-list-item appAccordionLink routerLinkActive="selected">
        <a class="" appAccordionToggle [routerLink]="['/teams']" *ngIf="role === 2">
            <mat-icon>group</mat-icon>
            <span>Team</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
    <mat-list-item appAccordionLink routerLinkActive="selected">
        <a class="" appAccordionToggle [routerLink]="['/departments']" *ngIf="role === 2">
            <mat-icon>business</mat-icon>
            <span>Department</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
    <mat-list-item appAccordionLink routerLinkActive="selected">
        <a class="" appAccordionToggle [routerLink]="['/twofaauth']">
            <mat-icon>verified_user</mat-icon>
            <span>2FA</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
</mat-nav-list>