.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-container {
    display: inline-block;
    position: relative;
  } 
.response-status-fail{
  color: red;
}
.response-status-success{
  color: green;
}
::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}
table.a {
  table-layout: auto;
  width: 100%;
}
