<nz-spin [nzSpinning]="loadingFull" nzTip="Loading..." [nzSize]="'large'">
    <div>
        <button class="col" style="margin-bottom:10px; width: 100%; background-color: #492ec5; color: rgb(240, 240, 3);"
            mat-raised-button color="primary" (click)="goToGuidePage()">
            <i class="fa fa-fw fa-plus"></i>
            More info about how to setup data connection and get Gsuite Credential
        </button>
        <mat-horizontal-stepper linear #stepper>
            <!-- #docregion editable -->
            <!-- <mat-chip style="width: 100%; background-color: #f44336;">
                Làm màu
            </mat-chip> -->
            <mat-step [stepControl]="accessDBForm">
                <!-- #enddocregion editable -->
                <mat-radio-group [(ngModel)]="connection" aria-label="Select an option">
                    <mat-radio-button [value]="true">Database Connection</mat-radio-button>
                    <mat-radio-button [value]="false">API Endpoint</mat-radio-button>
                </mat-radio-group>
                <div class="card-body" *ngIf="connection == true">
                    <mat-card class="p-0">
                        <mat-card-content>
                            <form [formGroup]="accessDBForm">
                                <ng-template matStepLabel>Data Connect</ng-template>
                                <div fxLayout="row wrap">
                                    <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                                        <div class="pb-1">
                                            <mat-form-field class="full-width">
                                                <input matInput name="dbName" formControlName="dbName"
                                                    placeholder="Database Name" />
                                            </mat-form-field>
                                        </div>
                                        <div class="pb-1">
                                            <mat-form-field class="full-width">
                                                <input matInput name="host" formControlName="host"
                                                    placeholder="Hostname" />
                                            </mat-form-field>
                                        </div>

                                        <div class="pb-1">
                                            <mat-form-field class="full-width">
                                                <input matInput name="port" formControlName="port" placeholder="Port" />
                                            </mat-form-field>
                                        </div>
                                        <div class="pb-1">
                                            <mat-form-field class="full-width">
                                                <input matInput name="username" formControlName="username"
                                                    placeholder="Username" />
                                            </mat-form-field>
                                        </div>
                                        <div class="pb-1">
                                            <mat-form-field class="full-width">
                                                <input matInput type="password" name="password"
                                                    formControlName="password" placeholder="Password" />
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field>
                                                <mat-label>Database Type</mat-label>
                                                <select matNativeControl required formControlName="dialect">
                                                    <option value="mysql">My SQL</option>
                                                    <option value="mssql">MSSQL</option>
                                                </select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <button mat-raised-button style="margin-right: 40px;" color="primary"
                                    (click)="nextClicked(1)">Next</button>
                                <div class="button-container mr-6">

                                    <button mat-raised-button
                                        (click)="onTestConection(responseConnectionString,accessDBForm.value)"
                                        color="primary" [disabled]="accessDBForm.invalid">
                                        Test Connection
                                    </button>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="card-body" *ngIf="connection == false">
                    <mat-card class="p-0">
                        <mat-card-content>
                            <form [formGroup]="APIEndpointForm">
                                <ng-template matStepLabel>Data Connect</ng-template>
                                <div fxLayout="row wrap">
                                    <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                                        <div class="pb-1">
                                            <mat-form-field class="full-width">
                                                <input matInput name="url" formControlName="url" placeholder="URL" />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <button mat-raised-button style="margin-right: 40px;" color="primary"
                                    (click)="nextClicked(1)">Next</button>
                                <div class="button-container  mr-6">
                                    <div class="spinner-container" *ngIf="loadingTestAPI">
                                        <mat-spinner diameter="24"></mat-spinner>
                                    </div>
                                    <button mat-raised-button
                                        (click)="onTestURLConection(responseApiEndpoint,APIEndpointForm.value)"
                                        color="primary" [disabled]="APIEndpointForm.invalid">
                                        Test
                                    </button>
                                </div>


                            </form>
                            <br />
                            <!-- <div *ngIf="apiEndpointFail">
                            <h2 style="color: red;">Connection Fail. Please input information Again</h2>
                        </div>
                        <div *ngIf="enableDataAPIResult">
                            <h2 style="color: green;" *ngIf="employeeValidate==true">Employee Passed</h2>
                            <h2 style="color: red;" *ngIf="employeeValidate==false">Employee Not Passed</h2>
                            <ngx-json-viewer [json]="dataAPIEndpoindEmployee"></ngx-json-viewer>
                            <h2 style="color: green;" *ngIf="departmentValidate==true">Department Passed</h2>
                            <h2 style="color: red;" *ngIf="departmentValidate==false">Department Not Passed</h2>
                            <ngx-json-viewer [json]="dataAPIEndpoindDepartment"></ngx-json-viewer>
                            <h2 style="color: green;" *ngIf="teamValidate==true">Team Passed</h2>
                            <h2 style="color: red;" *ngIf="teamValidate==false">Team Not Passed</h2>
                            <ngx-json-viewer [json]="dataAPIEndpoindTeam"></ngx-json-viewer>
                        </div> -->
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-step>
            <mat-step [stepControl]="gsuiteCredentialForm">
                <ng-template matStepLabel>G-Suite Credential</ng-template>
                <div class="card-body">
                    <mat-card class="p-0">
                        <mat-card-content>
                            <form [formGroup]="gsuiteCredentialForm">
                                <mat-form-field class="full-width">
                                    <input matInput name="company_email" formControlName="company_email"
                                        placeholder="Admin company email" />
                                </mat-form-field>
                                <mat-form-field class="full-width">
                                    <ngx-mat-file-input matInput (change)="fileChange($event)" matInput
                                        name="company_email" formControlName="file" enctype="multipart/form-data"
                                        name="file" placeholder="File JSON of key authenticated G-Suite"
                                        valuePlaceholder="{{file_name_auth_gsuite_company}}">
                                    </ngx-mat-file-input>
                                    <mat-icon matSuffix>folder</mat-icon>
                                </mat-form-field>

                                <!-- <input (change)="fileChange($event)" formControlName="file" enctype="multipart/form-data"
                                type="file" name="file" style="margin: 40px;" /> -->
                                <br />
                                <div style="width: 400px; height: 50px;">
                                    <button mat-raised-button style="margin-right: 40px;" color="primary"
                                        matStepperPrevious>Back</button>
                                    <button mat-raised-button style="margin-right: 40px;" color="primary"
                                        (click)="nextClicked(3)">Next</button>
                                    <button mat-raised-button [disabled]="disableTestAuthenGsuiteButton"
                                        (click)="onTest(responseTestFile,gsuiteCredentialForm.value)" color="primary">
                                        Test
                                    </button>
                                </div>

                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Schedule Synchronize</ng-template>
                <div class="spinner-container" *ngIf="loading">
                    <mat-spinner diameter="24"></mat-spinner>
                </div>
                <div [hidden]="loading == true" style="margin-top: 20px ;" class="card">
                    <div class="card-header">
                        <div class="container">
                            <div class="row">
                                <h4 class="col-md-5">Schedule for synchronizing</h4>
                                <div class="col-md-2 offset-md-5">
                                    <mat-slide-toggle [checked]="checkSync"
                                        (change)="openDialogScheduleConfirm(dialog,$event)">
                                        <div style="font-weight: bold; color: green;" *ngIf="checkSync == true">
                                            On
                                        </div>
                                        <div style="font-weight: bold; color: red;" *ngIf="checkSync == false">
                                            Off
                                        </div>
                                    </mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="col align-self-center">
                                <p style="color: red;">{{timeSchedule}}</p>
                            </div>
                        </div>
                        <mat-card class="p-0">
                            <mat-card-content>
                                <mat-form-field class="col-md-6">
                                    <mat-select [(ngModel)]="typeSync" placeholder="Choose schedule for synchronize">
                                        <mat-option [value]="1">Monthly</mat-option>
                                        <mat-option [value]="2">Weekly</mat-option>
                                        <mat-option [value]="3">Daily</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- Choose day in month -->
                                <div class="col-md-8 pt-4" *ngIf="typeSync == 1">
                                    <h3>Monthly synchronize</h3>
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="monthDayChoose" placeholder="Choose days" multiple>
                                            <mat-option *ngFor="let date of dayInMonth" [value]="date">{{ date }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label>Time:</label>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="monthTime" type="time" />
                                    </mat-form-field>
                                </div>
                                <!-- Choose day in week -->
                                <div class="col-md-8 pt-4" *ngIf="typeSync == 2">
                                    <h3>
                                        Weekly synchronize
                                    </h3>
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="weekDayChoose" placeholder="Choose days" multiple>
                                            <mat-option *ngFor="let date of days" [value]="date.id">{{ date.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label>Time </label>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="weekTime" type="time" />
                                    </mat-form-field>
                                </div>
                                <!-- Choose time daily -->
                                <div class="col-md-8 pt-4" *ngIf="typeSync == 3">
                                    <h3>
                                        Daily synchronize
                                    </h3>
                                    <label>Time:</label>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="dailyTime" type="time" />
                                    </mat-form-field>
                                </div>
                                <div class="button-container mr-6">
                                    <div class="spinner-container" *ngIf="loadingSubmit">
                                        <mat-spinner diameter="24"></mat-spinner>
                                    </div>
                                    <button mat-raised-button style="margin-right: 40px;" color="primary"
                                        matStepperPrevious>Back</button>
                                    <button style="margin-left: 10px;" mat-raised-button color="primary"
                                        (click)="saveScheduleTime()" [disabled]="loadingSubmit">
                                        Save
                                    </button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
        <ng-template id="dialog" #dialog>
            <mat-dialog-content>
                <div *ngIf="checkSync == false">
                    Are you sure want to start schedule
                </div>
                <div *ngIf="checkSync == true">
                    Are you sure want to off schedule
                </div>
                <!-- {{timeSchedule}} -->
            </mat-dialog-content>
            <mat-dialog-actions align="center">
                <div class="button-container  mr-4">
                    <div class="spinner-container" *ngIf="loadingConfirm">
                        <mat-spinner diameter="24"></mat-spinner>
                    </div>
                    <button mat-raised-button color="primary" (click)="changeCheckSync()" [disabled]="loadingConfirm">
                        Change
                    </button>
                </div>
                <button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
            </mat-dialog-actions>
        </ng-template>

        <ng-template #responseTestFile let-modal>
            <div class="modal-header">
                <h4>Access Information</h4>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table class="table">
                        <tr [ngClass]="{'response-status-success' : accessGsuiteAuthen.employee.status==200 ,
                 'response-status-fail' : accessGsuiteAuthen.employee.status!=200}">
                            <td>
                                Employee
                            </td>
                            <td>
                                {{accessGsuiteAuthen.employee.message}}
                            </td>
                            <td>
                                <mat-icon *ngIf="accessGsuiteAuthen.employee.status==200" style="color: green;">done
                                </mat-icon>
                                <mat-icon *ngIf="accessGsuiteAuthen.employee.status!=200" style="color: red;">close
                                </mat-icon>
                                <br />
                            </td>
                        </tr>
                        <tr [ngClass]="{'response-status-success' : accessGsuiteAuthen.team.status==200 ,
                'response-status-fail' : accessGsuiteAuthen.team.status!=200}">
                            <td>
                                Team
                            </td>
                            <td>
                                {{accessGsuiteAuthen.team.message}}
                            </td>
                            <td>
                                <mat-icon *ngIf="accessGsuiteAuthen.team.status==200" style="color: green;">done
                                </mat-icon>
                                <mat-icon *ngIf="accessGsuiteAuthen.team.status!=200" style="color: red;">close
                                </mat-icon>
                                <br />
                            </td>
                        </tr>
                        <tr [ngClass]="{'response-status-success' : accessGsuiteAuthen.department.status==200 ,
                'response-status-fail' : accessGsuiteAuthen.department.status!=200}">
                            <td>
                                Department
                            </td>
                            <td>
                                {{accessGsuiteAuthen.department.message}}
                            </td>
                            <td>
                                <mat-icon *ngIf="accessGsuiteAuthen.department.status==200" style="color: green;">done
                                </mat-icon>
                                <mat-icon *ngIf="accessGsuiteAuthen.department.status!=200" style="color: red;">close
                                </mat-icon>
                                <br />
                            </td>
                        </tr>
                        <tr [ngClass]="{'response-status-success' : accessGsuiteAuthen.member.status==200 ,
                'response-status-fail' : accessGsuiteAuthen.member.status!=200}">
                            <td>
                                Member
                            </td>
                            <td>
                                {{accessGsuiteAuthen.member.message}}
                            </td>
                            <td>
                                <mat-icon *ngIf="accessGsuiteAuthen.member.status==200" style="color: green;">done
                                </mat-icon>
                                <mat-icon *ngIf="accessGsuiteAuthen.member.status!=200" style="color: red;">close
                                </mat-icon>
                                <br />
                            </td>
                        </tr>
                        <tr [ngClass]="{'response-status-success' : accessGsuiteAuthen.gmail.status==200 ,
                'response-status-fail' : accessGsuiteAuthen.gmail.status!=200}">
                            <td>
                                Gmail
                            </td>
                            <td>
                                {{accessGsuiteAuthen.gmail.message}}
                            </td>
                            <td>
                                <mat-icon *ngIf="accessGsuiteAuthen.gmail.status==200" style="color: green;">done
                                </mat-icon>
                                <mat-icon *ngIf="accessGsuiteAuthen.gmail.status!=200" style="color: red;">close
                                </mat-icon>
                                <br />
                            </td>
                        </tr>
                    </table>
                    <button mat-flat-button class="col-md-2 ml-2" color="primary" (click)="closeModal()">
                        Close
                    </button>
                    <button mat-flat-button class="col-md-2 ml-2" style="margin-left: 40px;"
                        (click)="upload(gsuiteCredentialForm.value)" color="primary" [disabled]="gsuiteAuthenStatus">
                        Save
                    </button>
                </div>
            </div>
        </ng-template>

        <ng-template #responseConnectionString let-modal>
            <div class="modal-header">
                <h4>Connection Table Information</h4>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>CONNECTION TYPE</th>
                                <th>STATUS</th>
                                <th>MESSAGE</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tr [ngClass]="{'response-status-success' : connectionStatus.connection.status=='Success' ,
                    'response-status-fail' : connectionStatus.connection.status!='Success'}">
                            <td>Database Connection String</td>
                            <td>{{connectionStatus.connection.status}}</td>
                            <td>{{connectionStatus.connection.message}}</td>
                            <td>
                                <mat-icon *ngIf="connectionStatus.connection.status=='Success'" style="color: green;">
                                    done
                                </mat-icon>
                                <mat-icon *ngIf="connectionStatus.connection.status!='Success'" style="color: red;">
                                    close</mat-icon>
                            </td>
                        </tr>
                    </table>
                </div>

                <mat-accordion>
                    <div *ngFor="let tableName of table.table ; let i = index">
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title style="width: 50%; ">
                                    Table: {{tableName.tableName}}
                                </mat-panel-title>
                                <mat-panel-description style="width: 50%;">
                                    Mapping Information
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>TABLE NAME</th>
                                        <th>FIELD NAME</th>
                                        <th>STATUS</th>
                                        <th>TABLE MAPPING</th>
                                        <th>FIELD MAPPING</th>
                                    </tr>
                                </thead>
                                <tr *ngFor="let field of tableName.fields; let j = index">
                                    <th>{{tableName.tableName}}</th>
                                    <td>
                                        {{field.name}}
                                    </td>
                                    <td style="color: green;">Mapped</td>
                                    <td>
                                        <mat-form-field style="width: 100%; " appearance="outline">
                                            <mat-label>Choose Table Name</mat-label>
                                            <mat-select>
                                                <mat-option *ngFor="let tableNameMapping of tableMappingModel"
                                                    [value]="tableNameMapping.name"
                                                    (onSelectionChange)="fieldChang($event,i,j)">
                                                    {{tableNameMapping.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field *ngIf="chooseTable[i][j]!='employee-'+i+'-'+j && chooseTable[i][j]!='department-'+i+'-'+j && chooseTable[i][j]!='team-'+i+'-'+j" style="width: 100%;"
                                            appearance="outline" >
                                            <mat-label>Choose Value</mat-label>
                                            <mat-select></mat-select>
                                        </mat-form-field>

                                        <mat-form-field style="width: 100%;" appearance="outline"
                                            *ngIf="chooseTable[i][j]=='employee-'+i+'-'+j">
                                            <mat-label>Choose Field Name</mat-label>
                                            <mat-select>
                                                <mat-option *ngFor="let fieldNameMapping of employeeMappingModel"
                                                    [value]="fieldNameMapping.field">
                                                    {{fieldNameMapping.field}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field style="width: 100%;" appearance="outline" 
                                            *ngIf="chooseTable[i][j]=='department-'+i+'-'+j">
                                            <mat-label>Choose Field Name</mat-label>
                                            <mat-select>
                                                <mat-option *ngFor="let fieldNameMapping of departmentMappingModel"
                                                    [value]="fieldNameMapping.field">
                                                    {{fieldNameMapping.field}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field style="width: 100%;" appearance="outline"
                                            *ngIf="chooseTable[i][j]=='team-'+i+'-'+j">
                                            <mat-label>Choose Field Name</mat-label>
                                            <mat-select>
                                                <mat-option *ngFor="let fieldNameMapping of teamMappingModel"
                                                    [value]="fieldNameMapping.field">
                                                    {{fieldNameMapping.field}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                        </mat-expansion-panel>
                    </div>
                </mat-accordion>
                <button mat-flat-button style="margin-right: 40px;" col-md-2 ml-2 color="primary"
                    (click)="closeModal()">
                    Close
                </button>
                <button style="margin-right: 40px;" mat-raised-button (click)="onSubmitConection(accessDBForm.value)"
                    color="primary" [disabled]="!disableSaveConnectionStringButton">
                    Save
                </button>
            </div>
        </ng-template>

        <ng-template #responseApiEndpoint let-modal>
            <div class="modal-header">
                <h4>Connection Table Information</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>CONNECTION TYPE</th>
                            <th>STATUS</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tr [ngClass]="{'response-status-success' : connectionStatus.connection.status=='Success' ,
                'response-status-fail' : connectionStatus.connection.status!='Success'}">
                        <td>API EndPoint</td>
                        <td>{{connectionStatus.connection.status}}</td>
                        <td>
                            <mat-icon *ngIf="connectionStatus.connection.status=='Success'" style="color: green;">done
                            </mat-icon>
                            <mat-icon *ngIf="connectionStatus.connection.status!='Success'" style="color: red;">
                                close</mat-icon>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-body">


                <!-- <div *ngIf="apiEndpointFail"> -->
                <!-- <h2 style="color: red;">Connection Fail. Please input information Again</h2> -->
                <!-- </div> -->
                <div class="card-body">
                    <div *ngIf="enableDataAPIResult">
                        <h2 style="color: green;" *ngIf="employeeValidate==true">Employee Passed</h2>
                        <h2 style="color: red;" *ngIf="employeeValidate==false">Employee Not Passed</h2>
                        <ngx-json-viewer [json]="dataAPIEndpoindEmployee"></ngx-json-viewer>
                        <h2 style="color: green;" *ngIf="departmentValidate==true">Department Passed</h2>
                        <h2 style="color: red;" *ngIf="departmentValidate==false">Department Not Passed</h2>
                        <ngx-json-viewer [json]="dataAPIEndpoindDepartment"></ngx-json-viewer>
                        <h2 style="color: green;" *ngIf="teamValidate==true">Team Passed</h2>
                        <h2 style="color: red;" *ngIf="teamValidate==false">Team Not Passed</h2>
                        <ngx-json-viewer [json]="dataAPIEndpoindTeam"></ngx-json-viewer>
                        <h2 style="color: green;" *ngIf="positionValidate==true">Position Passed</h2>
                        <h2 style="color: red;" *ngIf="positionValidate==false">Position Not Passed</h2>
                        <ngx-json-viewer [json]="dataAPIEndpoindPosition"></ngx-json-viewer>
                    </div>
                </div>

                <button mat-flat-button style="margin-right: 40px;" col-md-2 ml-2 color="primary"
                    (click)="closeModal()">
                    Close
                </button>
                <button [disabled]="!anableButtonSaveAPIEndpoint" style="margin-right: 40px;"
                    (click)="onSubmitURLConection(APIEndpointForm.value)" mat-raised-button color="primary">
                    Save
                </button>

            </div>
        </ng-template>
    </div>
</nz-spin>