<div>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Setting Connection">
            <mat-radio-group [(ngModel)]="connection" aria-label="Select an option">
                <mat-radio-button [value]="true">Database Connection</mat-radio-button>
                <mat-radio-button [value]="false">API Endpoint</mat-radio-button>
            </mat-radio-group>
            <div class="card-body" *ngIf="connection == true">
                <mat-card class="p-0">
                    <mat-card-content>
                        <form [formGroup]="accessDBForm">
                            <div fxLayout="row wrap">
                                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                                    <div class="pb-1">
                                        <mat-form-field class="full-width">
                                            <input matInput name="dbName" formControlName="dbName"
                                                placeholder="Connection Name" value="" />
                                        </mat-form-field>
                                    </div>
                                    <div class="pb-1">
                                        <mat-form-field class="full-width">
                                            <input matInput name="host" formControlName="host" placeholder="Hostname"
                                                value="" />
                                        </mat-form-field>
                                    </div>

                                    <div class="pb-1">
                                        <mat-form-field class="full-width">
                                            <input matInput name="port" formControlName="port" placeholder="Port"
                                                value="" />
                                        </mat-form-field>
                                    </div>
                                    <div class="pb-1">
                                        <mat-form-field class="full-width">
                                            <input matInput name="username" formControlName="username"
                                                placeholder="Username" value="" />
                                        </mat-form-field>
                                    </div>
                                    <div class="pb-1">
                                        <mat-form-field class="full-width">
                                            <input matInput type="password" name="password" formControlName="password"
                                                placeholder="Password" value="" />
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-form-field>
                                            <mat-label>Database Type</mat-label>
                                            <select matNativeControl required formControlName="dialect">
                                                <option value="mysql">My SQL</option>
                                                <option value="mssql">MSSQL</option>
                                            </select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button (click)="onSubmitConection(accessDBForm.value)" color="primary">
                                Save
                            </button>
                            <button style="margin: 40px;" mat-raised-button
                                (click)="onTestConection(accessDBForm.value)" color="primary">
                                Test Connection
                            </button>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="card-body" *ngIf="connection == false">
                <mat-card class="p-0">
                    <mat-card-content>
                        <form [formGroup]="APIEndpointForm" (ngSubmit)="onSubmitURLConection(APIEndpointForm.value)">
                            <div fxLayout="row wrap">
                                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                                    <div class="pb-1">
                                        <mat-form-field class="full-width">
                                            <input matInput name="url" formControlName="url" placeholder="URL"
                                                value="" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" color="primary">
                                Save
                            </button>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Config G-suite Authentication">
            <div class="card-body">
                <mat-card class="p-0">
                    <mat-card-content>
                        <form class="col-md-4" [formGroup]="gsuiteCredentialForm"
                            (ngSubmit)="upload(gsuiteCredentialForm.value)">
                            <mat-form-field class="full-width">
                                <input matInput name="company_email" formControlName="company_email"
                                    placeholder="Company Email" value="" />
                            </mat-form-field>
                            <input (change)="fileChange($event)" formControlName="file" enctype="multipart/form-data"
                                type="file" name="file" />
                            <button mat-raised-button type="submit" color="primary">
                                Upload
                            </button>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Shedule Synchronize">
            <div class="spinner-container" *ngIf="loading">
                <mat-spinner diameter="24"></mat-spinner>
            </div>
            <div [hidden]="loading == true" style="margin-top: 20px ;" class="card">
                <div class="card-header">
                    <div class="container">
                        <div class="row">
                            <h4 class="col-md-5">Schedule for synchronizing</h4>
                            <div class="col-md-2 offset-md-5">
                                <mat-slide-toggle [checked]="checkSync"
                                    (change)="openDialogScheduleConfirm(dialog,$event)">
                                    <div style="font-weight: bold; color: green;" *ngIf="checkSync == true">
                                        On
                                    </div>
                                    <div style="font-weight: bold; color: red;" *ngIf="checkSync == false">
                                        Off
                                    </div>
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="col align-self-center">
                            <p style="color: red;">{{timeSchedule}}</p>
                        </div>
                    </div>
                    <mat-card class="p-0">
                        <mat-card-content>
                            <mat-form-field class="col-md-6">
                                <mat-select [(ngModel)]="typeSync" placeholder="Choose schedule for synchronize">
                                    <mat-option [value]="1">Monthly</mat-option>
                                    <mat-option [value]="2">Weekly</mat-option>
                                    <mat-option [value]="3">Daily</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- Choose day in month -->
                            <div class="col-md-8 pt-4" *ngIf="typeSync == 1">
                                <h3>Monthly synchronize</h3>
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="monthDayChoose" placeholder="Choose days" multiple>
                                            <mat-option *ngFor="let date of dayInMonth" [value]="date">{{ date }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label>Time:</label>
                                    <mat-form-field>
                                        <input matInput  [(ngModel)]="monthTime" type="time" />
                                    </mat-form-field>
                            </div>
                            <!-- Choose day in week -->
                            <div class="col-md-8 pt-4" *ngIf="typeSync == 2">
                                <h3>
                                    Weekly synchronize
                                </h3>
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="weekDayChoose" placeholder="Choose days" multiple>
                                            <mat-option *ngFor="let date of days" [value]="date.id">{{ date.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <label>Time </label>
                                    <mat-form-field>
                                        <input matInput  [(ngModel)]="weekTime" type="time" />
                                    </mat-form-field>
                            </div>
                            <!-- Choose time daily -->
                            <div class="col-md-8 pt-4" *ngIf="typeSync == 3">
                                <h3>
                                    Daily synchronize
                                </h3>
                                    <label>Time:</label>
                                    <mat-form-field>
                                        <input matInput  [(ngModel)]="dailyTime" type="time" />
                                    </mat-form-field>
                            </div>
                            <div class="button-container mr-6">
                                <div class="spinner-container" *ngIf="loadingSubmit">
                                    <mat-spinner diameter="24"></mat-spinner>
                                </div>
                                <button style="margin-left: 10px;" mat-raised-button color="primary" (click)="saveScheduleTime()"  [disabled]="loadingSubmit">
                                    Submit
                                </button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<ng-template id="dialog" #dialog>
    <mat-dialog-content>
        <div *ngIf="checkSync == false">
            Are you sure want to start schedule
        </div>
        <div *ngIf="checkSync == true">
            Are you sure want to off schedule
        </div>
        <!-- {{timeSchedule}} -->
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <div class="button-container  mr-4">
            <div class="spinner-container" *ngIf="loadingConfirm">
                <mat-spinner diameter="24"></mat-spinner>
            </div>
            <button mat-raised-button color="primary" (click)="changeCheckSync()" [disabled]="loadingConfirm">
                Change
            </button>
        </div>
        <button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
    </mat-dialog-actions>
</ng-template>