.mat-table{
    width: 100%;
}
.mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}
.mat-header-row {
    width: 100%;
}
.mat-row {
    width: 100%;
}
.mat-column-count{
    flex: 0 0 5% !important;
    width: 5% !important;
}
.mat-column-templateName{
    flex: 0 0 40% !important;
    width: 40% !important;
}
.mat-column-status{
    flex: 0 0 10% !important;
    width: 10% !important;
}
.mat-column-create_at{
    flex: 0 0 30% !important;
    width: 30% !important;
}
.mat-column-templateName{
    flex: 0 0 20% !important;
    width: 20% !important;
}
.mat-column-action{
    flex: 0 0 30% !important;
    width: 30% !important;
}
::ng-deep .my-class .modal-dialog { 
    max-width:1200px;
    width: 1200px;
}
.mat-header-cell {
    display:flex;
    justify-content:center;
   }
   .mat-cell {
    display:flex;
    justify-content:center;
   }

   .form-error-msg{
    color: red;
}
/* ::ng-deep .cdk-drag-preview  {
    display: table;
    border-radius: 5px;
    background-color: white;
    z-index: 100000 !important;
} 
::ng-deep .cdk-drag-placeholder  {
    opacity: 1;
};  */ 

.example-list {
    width: 100%;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }