<div class="card-body">
    <div>
        <div class="editor card ">
            <div class="card-header" style="background-color: #777777">
                <h4>Template Detail</h4>
            </div>
            <div class="card-body">

                <mat-form-field class="example-full-width">
                    <mat-label>Template name</mat-label>
                    <input matInput name="name" placeholder="name" value="name" [(ngModel)]="tempate['templateName']">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Subject</mat-label>
                    <input matInput name="subject" placeholder="Ex. This is email auto reply" value="subject"
                        [(ngModel)]="tempate['subject']">
                </mat-form-field>
                <div class="editor">
                    <email-editor (loaded)="editorLoaded()"></email-editor>
                </div>
            </div>

            <div class="example-button-row" style="margin-left: 30px;">

                <button nz-tooltip nz-button style="margin-right: 1cm;" (click)="editorExport()"
                    nzType="primary">Save</button>
                <button nz-button style="margin-right: 1cm;" (click)="closeDetailTemplate()"
                    nzType="primary">Close</button>
            </div>
        </div>
    </div>
</div>