<div class="card-body">
    <div class="col-auto mr-auto">
        TemplateName: <input matInput type="text" [(ngModel)]="name" placeholder="name" name="name" />
        <small *ngIf="checkAdd ==false " class="form-error-msg">Name must have 6-50 characteries
        </small>
    </div>
    <div class="editor">
        <email-editor (loaded)="editorLoaded()"></email-editor>
    </div>
</div>
<div class="card-footer">
    <div class="button-container  mr-4">
        <!-- <div class="spinner-container" *ngIf="loading">
              <mat-spinner diameter="24"></mat-spinner>
          </div> -->
        <button mat-raised-button (click)="closeDetailTemplate()">
            Close
        </button>
        <button mat-raised-button [disabled]="loading" (click)="editorExport()">
            Save
        </button>
    </div>

</div>