<nz-spin [nzSpinning]="loadingFull" nzTip="Loading..." [nzSize]="'large'">
    <div class="card-body">
        <div>
            <div class="editor card ">
                <div class="card-header" style="background-color: #777777">
                    <h4>Template Detail</h4>
                </div>
                <form [formGroup]="updateTemplateForm">
                    <div class="card-body">

                        <mat-form-field class="example-full-width">
                            <mat-label>Template name</mat-label>
                            <input matInput name="name" placeholder="name" formControlName="name">
                            <small
                                *ngIf="updateTemplateForm.controls['name'].hasError('required') && updateTemplateForm.controls['name'].touched"
                                class="form-error-msg"> Template name is required </small>
                            <small
                                *ngIf="updateTemplateForm.controls['name'].hasError('minlength') && updateTemplateForm.controls['name'].touched"
                                class="form-error-msg"> Template name require at least
                                {{updateTemplateForm.controls['name'].errors.minlength.requiredLength}} characters
                            </small>
                            <small
                                *ngIf="updateTemplateForm.controls['name'].hasError('maxlength') && updateTemplateForm.controls['name'].touched"
                                class="form-error-msg"> Template name can not contain more than
                                {{updateTemplateForm.controls['name'].errors.maxlength.requiredLength}} characters
                            </small>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Subject</mat-label>
                            <input matInput name="subject" placeholder="Ex. This is email auto reply"
                                formControlName="subject">
                            <small
                                *ngIf="updateTemplateForm.controls['subject'].hasError('required') && updateTemplateForm.controls['subject'].touched"
                                class="form-error-msg"> Subject is required </small>
                            <small
                                *ngIf="updateTemplateForm.controls['subject'].hasError('minlength') && updateTemplateForm.controls['subject'].touched"
                                class="form-error-msg"> Subject require at least
                                {{updateTemplateForm.controls['subject'].errors.minlength.requiredLength}} characters
                            </small>
                            <small
                                *ngIf="updateTemplateForm.controls['subject'].hasError('maxlength') && updateTemplateForm.controls['subject'].touched"
                                class="form-error-msg"> Subject can not contain more than
                                {{updateTemplateForm.controls['subject'].errors.maxlength.requiredLength}} characters
                            </small>
                        </mat-form-field>
                        <mat-chip-list>
                            <mat-chip color="primary" ngxClipboard [cbContent] = "'{personal_email}'">Personal email </mat-chip>
                            <mat-chip color="primary" ngxClipboard [cbContent] = "'{phone}'">Phone </mat-chip>
                            <mat-chip color="primary" ngxClipboard [cbContent] = "'{vacation_end_date}'">Vacation end date </mat-chip>
                            <mat-chip color="primary" ngxClipboard [cbContent] = "'{vacation_start_date}'">Vacation start date </mat-chip>
                        </mat-chip-list>
                        <email-editor id="email-editor" (loaded)="editorLoaded()"></email-editor>
                    </div>

                    <div class="example-button-row" style="margin-left: 30px;">

                        <button nz-tooltip nz-button style="margin-right: 1cm;" (click)="updateTemplate()"
                            nzType="primary">Save</button>
                        <button nz-button style="margin-right: 1cm;" (click)="closeDetailTemplate()"
                            nzType="primary">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nz-spin>