@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css"; 

/* button, input[type="button"], input[type="submit"] { 
    border: none;
    outline: none;
}  */

 /* .dropDragTr {
     z-index: 1000000000000000000000;
}     */
/* .cdk-overlay-container {
    z-index: 1000 !important;
} */
/* .cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 0 !important;
 } */
/* .dropDownInModel {
    z-index: 100000 !important;
} */
.checkItem {
   background-color: rgb(226, 226, 226);
    border-radius: 5%;
}
.textCenter {
    text-align: center;
}
::ng-deep .cdk-drag-preview  {
    display: table;
    border-radius: 5px;
    background-color: white;
    z-index: 100000 !important;
} 
::ng-deep .cdk-drag-placeholder  {
    opacity: 0;
}; 
