<div>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Default Signature Template">
            <angular-editor id="editor1" [(ngModel)]="htmlContent" [config]="editorConfig">
            </angular-editor>
            <div>
                <p>
                    <ng-container>
                        <button nz-button nz-dropdown style="font-size: large;" [nzPlacement]="topCenterPosition"
                            [nzDropdownMenu]="menu">
                            Add dynamic content</button>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu>
                                <li (click)="addContent('phone')" nz-menu-item>Add employee phone number</li>
                                <li (click)="addContent('email')" nz-menu-item>Add employee email address</li>
                                <li (click)="addContent('name')" nz-menu-item>Add employee fullname</li>
                            </ul>
                        </nz-dropdown-menu>
                    </ng-container>
                </p>
            </div>
            <div>
                <p>
                    <button nz-button style="background-color: coral; border: coral;" [nzType]="'primary'"
                        (click)="showModal()"><span>Insert Image</span></button>
                    <nz-modal style="display: inline-block;" [(nzVisible)]="insertImgModel" nzTitle="Insert Image"
                        (nzOnCancel)="handleCancelModel()" (nzOnOk)="handleOkModel()">
                        <p><input nz-input placeholder="Paste your image link" [(ngModel)]="imageLink" /></p>
                        <input type="text" disabled nz-input placeholder="Width"
                            style="width: 80px; border-left: 1px; pointer-events: none; background-color: rgb(255, 255, 255);" />
                        <nz-input-number [(ngModel)]="imgWidth" [nzMin]="1" [nzMax]="400" [nzStep]="1"
                            [nzFormatter]="formatterpx" [nzParser]="parserpx"></nz-input-number>

                        <input type="text" disabled nz-input placeholder="Heigh"
                            style="width: 80px; border-left: 1px; pointer-events: none; background-color: rgb(255, 255, 255);" />
                        <nz-input-number [(ngModel)]="imgHeigh" [nzMin]="1" [nzMax]="400" [nzStep]="1"
                            [nzFormatter]="formatterpx" [nzParser]="parserpx"></nz-input-number>
                        <p><img [ngStyle]="{'width':imgWidth + 'px'}" [ngStyle]="{'height':imgHeigh + 'px'}"
                                [src]="imageLink" />
                        </p>
                    </nz-modal>
                </p>
            </div>
            <!-- <p>
                {{htmlContent}}
            </p> -->
            <div><button nz-button style="background-color: darkblue; border: darkblue;" (click)="loadReview()"
                    nzType="primary">Load review</button></div>
            <br />
            <angular-editor id="editor2" [(ngModel)]="htmlContentReview" [config]="editorReviewConfig">
            </angular-editor>
            <br />
            <div>
                <p>
                    <button nz-button [nzLoading]="isSaveTemplateLoading" (click)="submitSignature()"
                        nzType="primary">Save</button>
                </p>
            </div>
        </mat-tab>
        <mat-tab label="Signature Template Rules">
            <br />
            <p><button nz-button (click)="addRow()" nzType="primary">Add row</button></p>
            <nz-input-group nzCompact>
                <input type="text" readonly nz-input placeholder="Input range of signature length"
                    style="width: 23%;" />
                <nz-input-number [(ngModel)]="rules.lengthRule.minLength" [nzMin]="1" [nzMax]="10000"
                    style="width:100px; text-align: center;">
                </nz-input-number>
                <input type="text" disabled nz-input placeholder="~"
                    style="width: 30px; border-left: 0px; pointer-events: none; background-color: rgb(255, 255, 255);" />
                <nz-input-number [nzMin]="1" [nzMax]="10000" [(ngModel)]="rules.lengthRule.maxLength"
                    style="width: 100px; text-align: center; border-left: 0px;">
                </nz-input-number>
            </nz-input-group>
            <br />
            <nz-table #editRowTable nzBordered [nzData]="listOfRules">
                <thead>
                    <tr>
                        <th nzWidth="15%">Rule</th>
                        <th nzWidth="67%">Content</th>
                        <th nzWidth="8%">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of editRowTable.data" class="editable-row">
                        <td>
                            <nz-select [(ngModel)]="data.action" nzShowSearch nzAllowClear
                                nzPlaceHolder="Select action for this text">
                                <nz-option nzValue="true" nzLabel="Contain this text"></nz-option>
                                <nz-option nzValue="false" nzLabel="Not contain this text"></nz-option>
                            </nz-select>
                        </td>
                        <td>
                            <textarea nzAutosize placeholder="Input content" type="text" nz-input
                                (click)="startEdit(data.id)" [(ngModel)]="data.content" (blur)="stopEdit()"></textarea>
                        </td>
                        <td>
                            <a style="color: red;" (click)="deleteRow(data.id)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <button nz-button (click)="submitSignatureRules()" [nzLoading]="isSaveRulesLoading"
                nzType="primary">Save</button>
        </mat-tab>
    </mat-tab-group>
</div>