<nz-result *ngIf="!isUploadGsuiteKeyFile" nzStatus="warning"
    nzTitle="You must upload G-Suite Credential file before use this feature!">
    <div nz-result-extra>
        <button nz-button (click)="goToSettingPage()" nzType="primary">Go to setting</button>
    </div>
</nz-result>
<nz-spin *ngIf="isUploadGsuiteKeyFile" [nzSpinning]="isSpinning" nzTip="Loading..." [nzSize]="'large'">
    <div style="margin: auto;">
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Signature Template" style="display: list-item;">
                <!-- Signature menu -->
                <ul nz-menu nzMode="horizontal" style="border-radius: 10px;">
                    <li nz-menu-item (click)="loadSpecificRuleCheck()" style="width: 20%; text-align: center;">
                        <i nz-icon nzType="flag" nzTheme="outline"></i>
                        Specific Apply
                    </li>
                    <li nz-menu-item (click)="getAllSignature()" style="width: 20%; text-align: center;">
                        <i nz-icon nzType="database" nzTheme="outline"></i>
                        Show all template
                    </li>
                    <li nz-submenu nzTitle="Add dynamic content" nzIcon="appstore-add"
                        style="width: 20%; text-align: center;">
                        <ul>
                            <li *ngFor="let data of dynamicRule" (click)="addContent(data.name)" nz-menu-item>
                                {{data.content}}</li>
                        </ul>
                    </li>
                    <li nz-menu-item (click)="showInsertImgModal()" style="width: 20%; text-align: center;">
                        <i nz-icon nzType="file-image"></i>
                        Insert Image
                    </li>
                    <li nz-menu-item (click)="showRulesCheckModel()" style="width: 20%; text-align: center;">
                        <nz-badge [nzCount]="listRulesCheckErr.length">
                            <a class="head-example">
                                <i nz-icon style="font-size: x-large; " nzType="notification"></i>
                            </a>
                        </nz-badge>
                    </li>
                </ul>
                <!-- Insert image -->
                <nz-modal [(nzVisible)]="insertImgModel" nzWidth="auto" [nzAutofocus]="null" nzTitle="Insert Image"
                    (nzOnCancel)="handleCancelModel()" (nzOnOk)="insertImghandleOkModel()">
                    <input nz-input placeholder="Paste your image link" [(ngModel)]="imageLink" />
                    <nz-input-group nzAddOnBefore="Width">
                        <nz-input-number style="width: 100%;" [(ngModel)]="imgWidth" [nzMin]="1" [nzMax]="1000"
                            [nzStep]="1">
                        </nz-input-number>
                    </nz-input-group>
                    <nz-input-group nzAddOnBefore="Height">
                        <nz-input-number style="width: 100%;" [(ngModel)]="imgHeigh" [nzMin]="1" [nzMax]="1000"
                            [nzStep]="1">
                        </nz-input-number>
                    </nz-input-group>
                    <div style="text-align: center; margin-top: 2mm;">
                        <img [ngStyle]="{'width':imgWidth + 'px', 'height':imgHeigh + 'px'}" [src]="imageLink" alt="" />
                    </div>
                </nz-modal>
                <!-- List error -->
                <nz-modal style="display: inline-block;" [(nzVisible)]="showCheckErrModel" [nzFooter]="null"
                    [nzAutofocus]="null" nzTitle="Signature template rules check" nzCancelText="Close"
                    (nzOnCancel)="handleCloseModel()" (nzOnOk)="handleCloseModel()">
                    <nz-alert nzType="warning" *ngFor="let err of listRulesCheckErr;" nzMessage="{{err}}" nzShowIcon>
                    </nz-alert>
                </nz-modal>
                <!-- All signature template -->
                <nz-modal style="display: inline-block;" nzWidth="90%" [(nzVisible)]="showListSignatureTemplate"
                    [nzAutofocus]="null" [nzFooter]="null" nzTitle="Signature templates" nzCancelText="Close"
                    (nzOnCancel)="handleCloseModel()" (nzOnOk)="handleCloseModel()">
                    <nz-table [nzData]="listSignatureTemplate">
                        <thead>
                            <tr>
                                <th style="width: 30%; text-align: center;">Name</th>
                                <th style="width: 10%; text-align: center;">Default</th>
                                <th style="width: 40%; text-align: center;">Specific apply</th>
                                <th style="width: 10%; text-align: center;">Load</th>
                                <th style="width: 10%; text-align: center;">Delete</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;">
                            <tr *ngFor="let data of listSignatureTemplate">
                                <td style="font-size: large;">{{ data.name }}</td>
                                <td><i *ngIf="data.is_primary === 1" nz-icon style="font-size: x-large;"
                                        [nzType]="'check-circle'" [nzTheme]="'twotone'"
                                        [nzTwotoneColor]="'#52c41a'"></i></td>
                                <td>
                                    <nz-collapse nzAccordion>
                                        <nz-collapse-panel [nzHeader]="'Department'">
                                            <p *ngFor="let de of data.department">
                                                <nz-alert *ngIf="de.status" nzType="info" nzMessage="{{de.name}}"
                                                    style="font-size: medium;" nzShowIcon>
                                                </nz-alert>
                                            </p>
                                        </nz-collapse-panel>
                                    </nz-collapse>
                                    <nz-collapse nzAccordion>
                                        <nz-collapse-panel [nzHeader]="'Position'">
                                            <p *ngFor="let po of data.position">
                                                <nz-alert *ngIf="po.status" nzType="info" nzMessage="{{po.name}}"
                                                    style="font-size: medium;" nzShowIcon>
                                                </nz-alert>
                                            </p>
                                        </nz-collapse-panel>
                                    </nz-collapse>
                                </td>
                                <td>
                                    <button nz-button style="float: right;"
                                        (click)="getSignatureTemplateByName(data.name)"
                                        [nzLoading]="isGetAllSignatureLoading" nzType="primary">Load</button>
                                </td>
                                <td>
                                    <button nz-button nzDanger style="float: right;"
                                        (click)="showConfirmDeleteSiganture(data.name)"
                                        [nzLoading]="isDeleteTemplateLoading" nzType="primary">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-modal>
                <!-- Model all specific template -->
                <nz-modal style="display: inline-block;" nzWidth="70%" [(nzVisible)]="showSpecificModel"
                    [nzAutofocus]="null" nzTitle="Apply template for specific" nzCancelText="Close"
                    (nzOnCancel)="handleCloseModel()" (nzOnOk)="showConfirmSaveSpecTem()">
                    <nz-alert nzType="info"
                        nzMessage="Note: The table is arranged in descending priority from top to bottom. You can you can pull up/down row if you want!"
                        style="font-size: medium;" nzShowIcon>
                    </nz-alert>
                    <nz-table nzBordered [nzData]="listOfSpecTemplate" [nzFrontPagination]="false"
                        [nzShowPagination]="false">
                        <thead>
                            <tr>
                                <th nzWidth="30%">Signature name</th>
                                <th nzWidth="30%">Specific by</th>
                                <th nzWidth="30%">Department / Position</th>
                                <th nzWidth="10%">Delete</th>
                            </tr>
                        </thead>
                        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                            <tr class="dropDragTr" *ngFor="let specRuleCheck of listOfSpecTemplate.specRuleCheck"
                                cdkDrag>
                                <td>
                                    <!-- <i nz-icon [nzType]="'edit'" [nzTheme]="'twotone'"></i> -->
                                    <nz-radio-group [(ngModel)]="specRuleCheck.signature_id">
                                        <label style="display: block;"
                                            *ngFor="let signature of listOfSpecTemplate.allSignature" nz-radio
                                            [nzValue]="signature.id">{{signature.name}}</label>
                                    </nz-radio-group>
                                </td>
                                <td>
                                    <nz-radio-group [(ngModel)]="specRuleCheck.specificBy">
                                        <label (click)="loadSpecificBy(department, specRuleCheck.idSpec)"
                                            style="display: block;" nz-radio [nzValue]="'department'">Department</label>
                                        <label (click)="loadSpecificBy(position, specRuleCheck.idSpec)"
                                            style="display: block;" nz-radio [nzValue]="'position'">Position</label>
                                    </nz-radio-group>
                                </td>
                                <td>
                                    <div *ngIf="specRuleCheck.specificBy === 'department'">
                                        <div *ngFor="let department of specRuleCheck.department">
                                            <label nz-checkbox
                                                [(ngModel)]="department.status">{{department.name}}</label>
                                        </div>
                                    </div>
                                    <div *ngIf="specRuleCheck.specificBy === 'position'">
                                        <div *ngFor="let position of specRuleCheck.position">
                                            <label nz-checkbox [(ngModel)]="position.status">{{position.name}}</label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a style="color: red;" (click)="deleteRowSpec(specRuleCheck.idSpec)">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                    <ul nz-menu nzMode="horizontal" style="border-radius: 20px;">
                        <li nz-menu-item (click)="addRowSpec()" style="text-align: center; width: 100%;">
                            <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                            Add row
                        </li>
                    </ul>
                </nz-modal>
                <!-- Siganture name -->
                <div>
                    <nz-input-group nzAddOnBefore="Signature name">
                        <input type="text" style="text-align: center; color: darkblue; font-weight: bold;"
                            placeholder="Signature name" nz-input [(ngModel)]="signatureName" spellcheck="false" />
                    </nz-input-group>
                </div>
                <!-- Editor -->
                <div style="margin-top: 1mm;">
                    <angular-editor style="outline-color: white;" (click)="select($event)" id="editor1"
                        [(ngModel)]="htmlContent" [config]="editorConfig">
                    </angular-editor>
                </div>
                <ul nz-menu nzMode="horizontal">
                    <li nz-menu-item (click)="loadReview()" style="width: 100%; text-align: center;">
                        <i nz-icon nzType="reload"></i>
                        Load review
                    </li>
                </ul>
                <!-- Review -->
                <div>
                    <angular-editor style="background-color: white;" id="editor2" [(ngModel)]="htmlContentReview"
                        [config]="editorReviewConfig">
                    </angular-editor>
                </div>
                <br />
                <div>
                    <p>
                        <button nz-button style="margin-right: 1cm;" [disabled]="isSaveTemplateDisable"
                            [nzLoading]="isSaveTemplateLoading" (click)="showConfirmSaveSignature()"
                            nzType="primary">Save</button>
                        <button nz-button style="margin-right: 1cm;" (click)="showConfirmUpdateAllSignature()"
                            [nzLoading]="isUpdatedTemplateLoading" nzType="primary">Synchronize now</button>
                        <button nz-button style="margin-right: 1cm;" (click)="setPrimaryTemplate()"
                            [disabled]="isSetPrimaryDisable" [nzLoading]="isSetPrimaryTemplateLoading"
                            nzType="primary">Set
                            default</button>
                    </p>
                </div>
            </mat-tab>
            <mat-tab label="Signature Template Rules">
                <!-- Signature rule menu -->
                <ul nz-menu nzMode="horizontal" style="border-radius: 10px;">
                    <li nz-menu-item (click)="getAllSignatureRule()" style="width: 25%; text-align: center;">
                        <i nz-icon nzType="database"></i>
                        Show all rule
                    </li>
                    <li nz-submenu nzTitle="Dynamic content rule" nzIcon="appstore-add"
                        style="width: 25%; text-align: center;">
                        <ul>
                            <li (click)="addDynamicContentRule(data.name)" *ngFor="let data of dynamicRule"
                                nz-menu-item>
                                {{data.content}}</li>
                        </ul>
                    </li>
                    <li nz-menu-item (click)="showConfirmNotifySignatureRules()"
                        style="width: 25%; text-align: center;">
                        <i nz-icon nzType="mail"></i>
                        Notify to all emloyees
                    </li>
                    <li nz-menu-item (click)="getListWrongSignature()" style="width: 25%; text-align: center;">
                        <i nz-icon nzType="check"></i>
                        Check employees
                    </li>
                </ul>
                <!-- Rule name -->
                <div>
                    <nz-input-group style="margin-top: 5mm;" nzAddOnBefore="Signature rule name">
                        <input type="text" style="text-align: center; width: 100%; color: darkblue; font-weight: bold;"
                            spellcheck="false" placeholder="Signature rule name" nz-input
                            [(ngModel)]="signatureRuleName" />
                    </nz-input-group>
                </div>
                <!-- Max min -->
                <div style="margin-top: 1mm;">
                    <nz-input-group style="width: 100%; text-align: center;" nzAddOnBefore="Minimum signature length">
                        <nz-input-number [(ngModel)]="rules.lengthRule.minLength" [nzMin]="1" [nzMax]="10000"
                            style="text-align: center; width: 100%;">
                        </nz-input-number>
                    </nz-input-group>
                    <nz-input-group style="width: 100%;" nzAddOnBefore="Maximum signature length">
                        <nz-input-number [nzMin]="1" [nzMax]="10000" [(ngModel)]="rules.lengthRule.maxLength"
                            style="text-align: center; width: 100%;">
                        </nz-input-number>
                    </nz-input-group>
                </div>
                <!-- Rule table -->
                <nz-table nzBordered [nzData]="listOfRules">
                    <thead>
                        <tr>
                            <th nzWidth="15%">Rule</th>
                            <th nzWidth="65%">Content</th>
                            <th nzWidth="10%">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of listOfRules" class="editable-row">
                            <td>
                                <nz-select [(ngModel)]="data.action">
                                    <nz-option nzValue="true" nzLabel="Contain this text"></nz-option>
                                    <nz-option nzValue="false" nzLabel="Not contain this text"></nz-option>
                                </nz-select>
                            </td>
                            <td>
                                <textarea (select)="select($event)" nzAutosize placeholder="Input content" type="text"
                                    nz-input (click)="startEdit(data.id, $event);" [(ngModel)]="data.content"
                                    (blur)="stopEdit()" spellcheck="false"></textarea>
                            </td>
                            <td>
                                <a style="color: red;" (click)="deleteRow(data.id)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
                <ul nz-menu nzMode="horizontal" style="border-radius: 20px;">
                    <li nz-menu-item (click)="addRow()" style="text-align: center; width: 100%;">
                        <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                        Add row
                    </li>
                </ul>
                <!-- Model wrong signature -->
                <nz-modal style="display: inline-block;" [(nzVisible)]="showListWrongSignature" [nzAutofocus]="null"
                    nzTitle="List wrong signature employee" nzCancelText="Close" nzOkText="Send mail remind employees"
                    (nzOnCancel)="handleCloseModel()" (nzOnOk)="sendMailRemind()">
                    <nz-collapse nzAccordion>
                        <nz-collapse-panel *ngFor="let element of listWrongSignature" [nzHeader]="element.email">
                            <p>
                                <nz-alert nzType="warning" *ngFor="let mes of element.message" nzMessage="{{mes}}"
                                    style="font-size: medium;" nzShowIcon>
                                </nz-alert>
                            </p>
                        </nz-collapse-panel>
                    </nz-collapse>
                </nz-modal>
                <!-- Model all template rule -->
                <nz-modal nzWidth="70%" [(nzVisible)]="showListSignatureTemplateRule" [nzAutofocus]="null"
                    [nzFooter]="null" nzTitle="Signature templates Rule" nzCancelText="Close"
                    (nzOnCancel)="handleCloseModel()" (nzOnOk)="handleCloseModel()">
                    <nz-table [nzData]="listSignatureTemplateRule">
                        <thead>
                            <tr>
                                <th style="width: 30%;">Name</th>
                                <th style="width: 30%;">Default</th>
                                <th style="width: 20%;">Load</th>
                                <th style="width: 20%;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of listSignatureTemplateRule">
                                <td style="font-size: large;">{{ data.name }}</td>
                                <td><i *ngIf="data.is_primary === 1" nz-icon style="font-size: x-large;"
                                        [nzType]="'check-circle'" [nzTheme]="'twotone'"
                                        [nzTwotoneColor]="'#52c41a'"></i></td>
                                <td>
                                    <button nz-button style="float: right;"
                                        (click)="getSignatureTemplateRuleByID(data.id)"
                                        [nzLoading]="isGetAllSignatureRuleLoading" nzType="primary">Load</button>
                                </td>
                                <td>
                                    <button nz-button nzDanger style="float: right;"
                                        (click)="showConfirmDeleteSigantureRule(data.id, data.name)"
                                        [nzLoading]="isDeleteTemplateRuleLoading" nzType="primary">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-modal>
                <div>
                    <button nz-tooltip [disabled]="isSaveRuleDisable" nz-button style="margin-right: 1cm;"
                        (click)="showConfirmSaveSignatureRules()" [nzLoading]="isSaveRulesLoading"
                        nzType="primary">Save</button>
                    <button nz-button style="margin-right: 1cm;" (click)="setPrimaryTemplateRule()"
                        [disabled]="isSetPrimaryRuleDisable" [nzLoading]="isSetPrimaryTemplateRuleLoading"
                        nzType="primary">Set default</button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</nz-spin>