@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css"; 

/* button, input[type="button"], input[type="submit"] { 
    border: none;
    outline: none;
}  */

/* .dropDragTr {
    background-color: yellowgreen;
}    
::ng-deep .cdk-drag-preview  {
    display: table;
    background-color: yellowgreen;
}
::ng-deep .cdk-drag-placeholder  {
    opacity: 1;
    background-color: red;
    background-color: yellowgreen;
    z-index: 200;
}; */
