
.center-screen-div{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
  .qr-code-img{
    width: 200px;
    height: 200px;
  }

  .red-text {
      color: red;
  }

  .main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }