<mat-card *ngIf="!showOrNot" class="loading">
    <img src="assets/images/gifs/Spinner-1s-200px.svg" />
</mat-card>
<mat-card *ngIf="showOrNot" class="center-screen-div">
    <mat-card-header class="center-screen-div">
        <mat-card-title>Use any 2FA application to scan this QR code!</mat-card-title>
        <mat-card-title><b>Please get our app <a target="_blank" rel="noopener noreferrer"
                    href="https://1drv.ms/u/s!An31p-R-fDAsrFXP2ClbQzamEF5d?e=2TOlIo">here</a> for best experience with
                GmHRS!</b></mat-card-title>
        <mat-card-subtitle class="red-text">For sercurity, please do not share this QR for anyone!</mat-card-subtitle>
    </mat-card-header>
    <qrcode class="qr-code-img" [qrdata]="QrCodeLink" [width]="220" [errorCorrectionLevel]="'M'"></qrcode>
    <mat-card-content>
        <p>
            <span class="row justify-content-md-center">
                <mat-card-title>Enter your OTP got from your mobile to activate 2FA on your account
                </mat-card-title>
            </span>
        </p>
        <p>
            <span class="row justify-content-md-center">
                <ng-otp-input (keydown)="keyDownFunction($event)" #ngOtpInput (onInputChange)="onOtpChange($event)"
                    [config]="{length:6, allowNumbersOnly: true}" autocomplete="off">
                </ng-otp-input>
            </span>
        </p>
        <p>
            <span class="row justify-content-md-center">
                <button nz-button [nzLoading]="isSubmitOTPLoading" (click)="onSubmitOtp()"
                    nzType="primary">Activate</button>
                <!-- <button mat-raised-button color="accent" (click)="onSubmitOtp()">
                    Activate
                </button> -->
            </span>
        </p>
    </mat-card-content>
</mat-card>