<div class="ml-05 mr-05 mt-05 pb-1">
  <div class="mat-elevation-z8">
    <div class="container ">
      <div class="row mt-1">
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Enter your keyword">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <button class="col  " style="margin-bottom:10px" mat-button color="link"
            (click)="openModalGroup(group)">
            <i class="fa fa-fw fa-plus"></i>
            Add to group
          </button>
        </div>
        <div class="col-md-4">
          <button class="col" style="margin-bottom:10px" mat-raised-button color="primary" (click)="open(create)">
            <i class="fa fa-fw fa-plus"></i>
            Create Employee
          </button>
        </div>
      </div>
    </div>
  </div>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="primary_email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Primary Email
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color">
        {{ row.primary_email }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="personal_email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Personal Email
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color">
        {{ row.personal_email }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color">
        {{ row.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Phone
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color">
        {{ row.phone }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="created_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Join At
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color">
        {{ row.created_date }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>
        Action
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color">
        <button mat-icon-button (click)="viewDetail(row.id)">
          <mat-icon class="mat-18 mat-color-primary">
            edit
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<!-- Modal create -->
<ng-template #create let-modal>
  <div class="modal-body">
    <div class="card-body">
      <mat-card class="p-0">
        <mat-card-title class="">
          <div class="card-title-text">Create employee</div>
        </mat-card-title>
        <mat-card-content>
          <form [formGroup]="empForm">
            <div fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                <div class="pb-1">
                  <mat-form-field class="full-width">
                    <input matInput  name="firstname" formControlName="firstname" placeholder="First name *" value="">
                  </mat-form-field>
                  <small
                    *ngIf="empForm.controls['firstname'].hasError('required') && empForm.controls['firstname'].touched"
                    class="form-error-msg"> First name is required </small>
                </div>

                <div class="pb-1">
                  <mat-form-field class="full-width">
                    <input matInput  name="lastname" formControlName="lastname" placeholder="Last name *" value="">
                  </mat-form-field>
                  <small
                    *ngIf="empForm.controls['lastname'].hasError('required') && empForm.controls['lastname'].touched"
                    class="form-error-msg"> Last name is required </small>
                </div>

                <div class="pb-1">
                  <mat-form-field class="full-width">
                    <input matInput type="primary_email" name="primary_email" formControlName="primary_email" placeholder="Email *"
                      value="">
                  </mat-form-field>
                  <small *ngIf="empForm.controls['primary_email'].hasError('required') && empForm.controls['primary_email'].touched"
                    class="form-error-msg"> Email is required </small>
                  <small *ngIf="empForm.controls['primary_email'].hasError('email') && empForm.controls['v'].touched"
                    class="form-error-msg"> Invaild email address </small>
                </div>
                <div class="pb-1">
                  <mat-form-field class="full-width">
                    <input matInput type="personal_email" name="personal_email" formControlName="personal_email" placeholder="Your email *"
                      value="">
                  </mat-form-field>
                  <small *ngIf="empForm.controls['personal_email'].hasError('required') && empForm.controls['personal_email'].touched"
                    class="form-error-msg"> Email is required </small>
                  <small *ngIf="empForm.controls['personal_email'].hasError('email') && empForm.controls['personal_email'].touched"
                    class="form-error-msg"> Invaild email address </small>
                </div>
                <div class="pb-1">
                  <mat-form-field class="full-width">
                    <input matInput name="phone" formControlName="phone" placeholder="Phone number">
                  </mat-form-field>
                  <small *ngIf="empForm.controls['phone'].hasError('required') && empForm.controls['phone'].touched"
                    class="form-error-msg"> Phone number is require</small>
                  <small *ngIf="empForm.controls['phone'].hasError('pattern') && empForm.controls['phone'].touched"
                    class="form-error-msg"> Invaild phone number </small>
                </div>
                <div class="pb-1">
                  <mat-form-field class="full-width">
                    <input matInput name="address" formControlName="address" placeholder="Address">
                  </mat-form-field>
                </div>
                <div class="pb-1">
                  <mat-form-field>
                    <mat-label>Department</mat-label>
                    <mat-select formControlName=departmentId name="department">
                      <mat-option *ngFor="let item of departmentList" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <button mat-flat-button class="col-md-2 btn-success" (click)="createEmployee()" color="primary" ngbAutofocus
              [disabled]="empForm.invalid">Submit</button>
            <button mat-flat-button class="col-md-2 ml-2" color="accent" (click)="closeModal()">
              Close
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>

<!-- Modal add to group -->
<ng-template #group let-modal>
  <div class="modal-body">
    <div class="modal-header">
      <h4 class="modal-title">Add member</h4>
    </div>
    <div class="card-body">
      <form>
        <mat-form-field>
          <mat-label>Team</mat-label>
          <mat-select [(ngModel)]="teamId" name="team">
            <mat-option *ngFor="let item of listTeam" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success save" (click)="addEmpToGroup()" ngbAutofocus>Add</button>
      <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
    </div>
  </div>
</ng-template>