    .mat-column-email{
        flex: 0 0 25% !important;
        width: 25% !important;
    }
    .mat-column-action{
        flex: 0 0 15% !important;
        width: 15% !important;
    }
    .mat-column-created_date{
        flex: 0 0 25% !important;
        width: 25% !important;
    }
    .mat-column-modified_date{
        flex: 0 0 25% !important;
        width: 25% !important;
    }
    .mat-column-username{
        flex: 0 0 10% !important;
        width: 10% !important;
    }
    
    th.mat-header-cell,
    td.mat-cell {
      text-align: center !important;
    }

    tr {
        margin-bottom: 10px;
    }

    button, input[type="button"], input[type="submit"]{
        border: none;
        outline: none;
      }
      .mat-header-cell {
        display:flex;
        justify-content:center;
       }
       .mat-cell {
        display:flex;
        justify-content:center;
       }