        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<!-- <div class="button-container  mr-4">
    <div class="spinner-container" *ngIf="loading">
        <mat-spinner diameter="24"></mat-spinner>
    </div>
    <button (click)="synchornizeNow()" mat-raised-button  [disabled]="loading">
        Synchronize
    </button>
</div>
<a style="font-size: 15px; color: red;">
    Last sync : 2 hours ago
</a> -->
<button mat-icon-button [matMenuTriggerFor]="sync" class="m-r-5" >
    <mat-icon>sync_alt</mat-icon>
</button>
<mat-menu #sync="matMenu" class="customize">
    <div class="card">
        <div class="card-header" (click)="doNotClose($event)"><h5>Synchronization</h5></div>
        <div class="card-body" (click)="doNotClose($event)">
            <p style="font-size: 15px; color: red;">Last sync : 2 hours ago</p>
            <div class="button-container  mr-4">
                <div class="spinner-container" *ngIf="loading">
                    <mat-spinner diameter="24"></mat-spinner>
                </div>
                <button (click)="synchornizeNow($event,create)" mat-raised-button  [disabled]="loading">
                    Synchronize Now
                </button>
            </div>
        </div>
    </div>
</mat-menu>
<button mat-icon-button [matMenuTriggerFor]="profile" class="m-r-5">
    <mat-icon>settings</mat-icon>
</button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item [routerLink]="['/company-config-connection']">
        <mat-icon>settings</mat-icon> Settings Connection</button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Profile </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Disable notifications </button>
    <button mat-menu-item (click)="signOut()" [routerLink]="['/']">
        <mat-icon>exit_to_app</mat-icon> Sign Out </button>
</mat-menu>

<!-- Modal create  account company-->
<ng-template #create let-modal>
    <div class="modal-body">
      <div class="card-body">
        
      </div>
    </div>
  </ng-template>

 