<mat-card class="center-screen-div">
    <mat-card-header class="center-screen-div">
        <mat-card-title>You account is activated 2FA</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Your account is activated 2FA function. If you want to disable 2FA function please input OTP then press
            button
            under. Note that if you disable 2FA, your token in mobile is not available more. If you want to
            use 2FA function you must active it and <b style="color: red;">SCAN QR AGAIN!</b>
        </p>
    </mat-card-content>
    <mat-card-content>
        <p>
            <span class="row justify-content-md-center">
                <mat-card-title>Enter your OTP got from your mobile to activate 2FA on your account
                </mat-card-title>
            </span>
        </p>
        <p>
            <span class="row justify-content-md-center" autocomplete="off">
                <ng-otp-input (keydown)="keyDownFunction($event)" #ngOtpInput (onInputChange)="onOtpChange($event)"
                    [config]="{length:6, allowNumbersOnly: true}">
                </ng-otp-input>
            </span>
        </p>
        <p>
            <span class="row justify-content-md-center">
                <button mat-raised-button color="accent" (click)="onSubmitOtp()">
                    Disable 2FA
                </button>
            </span>
        </p>
    </mat-card-content>
</mat-card>