
.center-screen-div{
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .qr-code-img{
    width: 300px;
    height: 300px;
  }

  .red-text {
      color: red;
  }

  .main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  button, input[type="button"], input[type="submit"]{
    border: none;
    outline: none;
  }