.mat-column-email{
    flex: 0 0 35% !important;
    width: 35% !important;
}
.mat-column-action{
    flex: 0 0 15% !important;
    width: 15% !important;
}
th.mat-header-cell,
td.mat-cell {
  text-align: center !important;
}

tr {
    margin-bottom: 10px;
}
.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  button, input[type="button"], input[type="submit"]{
    border: none;
    outline: none;
  }
  