<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->    
    <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Synchronize overview</mat-card-title>
                         <mat-card-subtitle></mat-card-subtitle> 
                     </div>
                    <div class="ml-auto">
                        <ul class="list-inline">
                            
                            <li>
                                <h6 class="text-12 m-0">Current year</h6> </li>
                            <li>
                                <h6 class="text-success m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Employee</h6> </li>
                            <li>
                                <h6 class=" text-info m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Team</h6> </li>
                                <li>
                                    <h6 class=" text-yellow m-0" style="color: #f4c63d"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Department</h6> </li>
                        </ul>
                    </div>
                </div>

                <div class="barchrt" style="height:360px;">
                    <x-chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options" [responsiveOptions]="barChart1.responsiveOptions"
                        [events]="barChart1.events"> </x-chartist>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->    
    <!-- column -->    
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Total of Employee, Team, Department</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
                <div class="piechart">
                    <x-chartist class="" [data]="donuteChart1.data" [type]="donuteChart1.type" [options]="donuteChart1.options" [responsiveOptions]="donuteChart1.responsiveOptions"
                        [events]="donuteChart1.events"> </x-chartist>
                </div>
            </mat-card-content>
            <hr>
            <mat-card-content>
                <ul class="list-inline text-center">
                    <li>
                        <h6 class="text-success m-0"  style="color:#f50808">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Employee</h6>
                    </li>
                    <li>
                        <h6 class=" text-info  m-0"  style="color:#f05b4f">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Team</h6>
                    </li>
                    <li>
                        <h6 class=" text-purple  m-0" style="color:#f4c63d">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Department</h6>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->    
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">

        <mat-card>
            <div class="p-20 bg-info position-relative">
                <h4 class="card-title text-white m-0">New Employees</h4>
                <h6 class="card-subtitle text-white m-0 op-5">Welcome to the Company</h6>
            </div>
            <div class="message-box contact-box p-20">
                <div class="message-widget contact-widget" *ngFor="let employee of employees">
                    <!-- Message -->
                    <a href="#">
                        <div class="user-img"> <img src="../assets/images/users/1.jpg" alt="user"
                                class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                        <div class="mail-contnet">
                            <h5>{{employee.first_name}} {{employee.last_name}}</h5> <span class="mail-desc">{{employee.primary_email}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </mat-card>
    </div>
    <!-- Card column -->
    <!-- Card column -->
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-tab-group>
                <!-- Tab 1 -->
                <mat-tab label="Activity">
                    <mat-card-content>
                        <div class="d-flex no-blcok">
                            <div class="m-r-20">
                                <!-- <img class="img-circle" width="50" src="assets/images/users/1.jpg" alt="Image"> -->
                             </div>
                            <div class="p-b-20 b-b m-b-30">
                                <h4 class="m-0">20-07-2020
                                    <small class="text-muted">(5 minute ago)</small>
                                </h4>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                                <div fxLayout="row wrap">
                                    <!-- <div fxFlex.gt-sm="20" fxFlex="100">
                                        <img class="img-responsive rounded" src="assets/images/big/img2.jpg" alt="Image">
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="d-flex no-blcok">
                            <div class="m-r-20">
                                <!-- <img class="img-circle" width="50" src="assets/images/users/2.jpg" alt="Image"> -->
                             </div>
                            <div class="p-b-20 b-b m-b-30">
                                <h4 class="m-0">19-07-2020
                                    <small class="text-muted">(23 hours ago)</small>
                                </h4>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                                <!-- <button mat-raised-button color="primary">Check Now</button> -->
                            </div>
                        </div>
                        <div class="d-flex no-blcok">
                            <div class="m-r-20">
                                <!-- <img class="img-circle" width="50" src="assets/images/users/3.jpg" alt="Image"> -->
                             </div>
                            <div class="p-b-20 b-b m-b-30">
                                <h4 class="m-0">10-07-2020
                                    <small class="text-muted">(10 days ago)</small>
                                </h4>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                                <div fxLayout="row wrap">
                                    <div fxFlex.gt-sm="20" fxFlex="100">
                                        <!-- <img class="img-responsive rounded" src="assets/images/big/img1.jpg" alt="Image"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex no-blcok">
                            <div class="m-r-20">
                                <!-- <img class="img-circle" width="50" src="assets/images/users/4.jpg" alt="Image"> -->
                             </div>
                            <div class="p-b-20 b-b m-b-30">
                                <h4 class="m-0">01-07-2020
                                    <small class="text-muted">(19 days ago)</small>
                                </h4>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                                <!-- <button mat-raised-button color="warn">Check Now</button> -->
                            </div>
                        </div>
                    </mat-card-content>
                </mat-tab>
                <!-- End Tab 1 -->
                <!-- Tab 2 -->
               
            </mat-tab-group>
        </mat-card>
    </div>
</div>