<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <!-- column -->
    <!-- column -->
    <!-- <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Total of Employee, Team, Department</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
                <div class="piechart">
                    <x-chartist class="" [data]="donuteChart1.data" [type]="donuteChart1.type" [options]="donuteChart1.options" [responsiveOptions]="donuteChart1.responsiveOptions"
                        [events]="donuteChart1.events"> </x-chartist>
                </div>
            </mat-card-content>
            <hr>
            <mat-card-content>
                <ul class="list-inline text-center">
                    <li>
                        <h6 class="text-success m-0"  style="color:#f50808">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Employee</h6>
                    </li>
                    <li>
                        <h6 class=" text-info  m-0"  style="color:#f05b4f">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Team</h6>
                    </li>
                    <li>
                        <h6 class=" text-purple  m-0" style="color:#f4c63d">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Department</h6>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div> -->
    <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->

<nz-spin [nzSpinning]="isSpinning" nzTip="Loading..." [nzSize]="'large'">
    <div fxLayout="row wrap">
        <!-- Card column -->
        <div fxFlex.gt-lg="35" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">

            <mat-card>
                <div class="p-20 bg-warning position-relative">
                    <h4 class="card-title text-white m-0">Employee's signature warning </h4>
                    <!-- <h6 class="card-subtitle text-white m-0 op-5">5 minutes ago</h6> -->
                </div>
                <div class="p-20 bg-warning position-relative">
                    <button nz-tooltip [disabled]="disableBtnRevert" nz-button style="margin-right: 1cm;"
                        (click)="showConfirmNotifySignatureRules()" nzShape="round"
                        [nzLoading]="isSendNotifyRulesLoading" nzType="primary">
                        Notify to all of the emloyees</button>
                    <!-- <button nz-button nzType="primary" [nzSize]="size" nzShape="round" [disabled]="disableBtnRevert">Revert all to default signature template</button> -->
                    <!-- <h6 class="card-subtitle text-white m-0 op-5">5 minutes ago</h6> -->
                </div>
                <div class="message-box contact-box p-20" *ngIf="disableBtnRevert == false">
                    <div class="message-widget contact-widget" *ngFor="let employee of signatureInvalid">
                        <!-- Message -->
                        <a href="javascript:void(0)" nz-popover
                            nzPopoverTitle="{{employee.firstName}} {{employee.lastName}}" (click)="setDefault(employee)"
                            [nzPopoverContent]="contentTemplate" nzPopoverTrigger="click">
                            <div class="mail-contnet">
                                <h5>{{employee.firstName}} {{employee.lastName}}</h5> <span
                                    class="mail-desc">{{employee.email}}</span>
                            </div>
                            <ng-template #contentTemplate>
                                <div style="color:warning">
                                    <!-- <nz-alert nzType="warning" *ngFor="let mes of employeeSelected" nzMessage="{{mes}}"
                                            style="font-size: medium;" nzShowIcon>
                                        </nz-alert> -->
                                    <nz-list nzItemLayout="horizontal">
                                        <nz-list-item *ngFor="let item of employeeSelected">
                                            <nz-list-item-meta>
                                                <nz-list-item-meta-title>
                                                    <a href="javascript:void(0)">{{ item }}</a>
                                                </nz-list-item-meta-title>
                                            </nz-list-item-meta>
                                        </nz-list-item>
                                    </nz-list>
                                    <!-- <p>Content</p> -->
                                </div>
                            </ng-template>
                        </a>
                    </div>
                </div>
                <div class="message-box contact-box p-20" *ngIf="disableBtnRevert == true">
                    <div class="mail-contnet">
                        <h5>Have no employees are missing rules</h5>
                    </div>
                </div>
            </mat-card>
            <mat-card>
                <div class="p-20 bg-info position-relative">
                    <h4 class="card-title text-white m-0">New employees in this month</h4>
                    <!-- <h6 class="card-subtitle text-white m-0 op-5">5 minutes ago</h6> -->
                </div>
                <div class="message-box contact-box p-20">
                    <div class="message-widget contact-widget" *ngFor="let employee of employees">
                        <!-- Message -->
                        <a href="#">
                            <!-- <div class="user-img"> <img src="../assets/images/users/1.jpg" alt="user"
                                class="img-circle"> <span class="profile-status online pull-right"></span> </div> -->
                            <div class="mail-contnet">
                                <h5>{{employee.first_name}} {{employee.last_name}} <nz-tag nzColor="default">
                                        {{employee.created_date}}</nz-tag>
                                </h5> <span class="mail-desc">{{employee.primary_email}} </span>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="message-box contact-box p-20" *ngIf="isNewEmp == false">
                    <div class="mail-contnet">
                        <h5>Have no new employees at this month</h5>

                    </div>
                </div>
            </mat-card>
        </div>
        <!-- Card column -->
        <!-- Card column -->
        <div fxFlex.gt-lg="65" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <mat-tab-group>
                    <!-- Tab 1 -->
                    <mat-tab label="Synchronization log">
                        <mat-card-content>
                            <div class="message-box contact-box p-20" *ngIf="isLogged == true">
                                <div class="mail-contnet">
                                    <h5>Have no synchronize log</h5>

                                </div>
                            </div>
                            <nz-collapse>
                                <nz-collapse-panel *ngFor="let panel of list" [nzHeader]="panel.modified_date"
                                    [nzActive]="panel.status == 1 ? 'true' : 'false'">
                                    <div class="d-flex no-blcok">
                                        <div class="m-r-20">
                                        </div>
                                        <div class="p-b-20 b-b m-b-30">
                                            <small class="text-muted">Synchronization author: {{panel.name}} </small>
                                            <h4 class="m-0">{{author}}
                                                <nz-tag nzColor="success">success</nz-tag>
                                            </h4>
                                        </div>
                                    </div>
                                    <!-- <div *ngIf="panel.childPanel && panel.childPanel.length > 0"> -->
                                    <p>Employee</p>
                                    <ng-template #New>
                                        <!-- You can use stopPropagation if you don't want the panel to toggle -->
                                        <nz-tag nzColor="success">New</nz-tag>
                                    </ng-template>
                                    <ng-template #Update>
                                        <!-- You can use stopPropagation if you don't want the panel to toggle -->
                                        <nz-tag nzColor="processing">Update</nz-tag>
                                    </ng-template>
                                    <ng-template #Delete>
                                        <!-- You can use stopPropagation if you don't want the panel to toggle -->
                                        <nz-tag nzColor="error">Delete</nz-tag>
                                    </ng-template>
                                    <nz-collapse>
                                        <nz-collapse-panel *ngFor="let childPanel of panel.employee.newEmployeeList"
                                            [nzHeader]="childPanel.primary_email" [nzExtra]="New">
                                            <b> Email:</b>
                                            <p> {{childPanel.primary_email}}</p>
                                            <b> First name:</b>
                                            <p>{{childPanel.first_name}}</p>
                                            <b> Last name:</b>
                                            <p>{{childPanel.last_name}}</p>
                                            <b> Phone:</b>
                                            <p>{{childPanel.phone}}</p>
                                            <b> Address:</b>
                                            <p>{{childPanel.address}}</p>
                                            <b> Personal email:</b>
                                            <p>{{childPanel.personal_email}}</p>
                                            <b>Last sync date:</b>
                                            <p>{{childPanel.modified_date}}</p>
                                            <b>Position:</b>
                                            <p>{{childPanel.position}}</p>
                                            <b>Department:</b>
                                            <p>{{childPanel.department}}</p>
                                        </nz-collapse-panel>
                                        <nz-collapse-panel *ngFor="let childPanel of panel.employee.updateEmployeeList"
                                            [nzHeader]="childPanel.primary_email" [nzExtra]="Update">
                                            <b> Email:</b>
                                            <p> {{childPanel.primary_email}}</p>
                                            <b> First name:</b>
                                            <p>{{childPanel.first_name}}</p>
                                            <b> Last name:</b>
                                            <p>{{childPanel.last_name}}</p>
                                            <b> Phone:</b>
                                            <p>{{childPanel.phone}}</p>
                                            <b> Address:</b>
                                            <p>{{childPanel.address}}</p>
                                            <b> Personal email:</b>
                                            <p>{{childPanel.personal_email}}</p>
                                            <b>Last sync date:</b>
                                            <p>{{childPanel.modified_date}}</p>
                                            <b>Position:</b>
                                            <p>{{childPanel.position}}</p>
                                            <b>Department:</b>
                                            <p>{{childPanel.department}}</p>
                                        </nz-collapse-panel>
                                        <nz-collapse-panel *ngFor="let childPanel of panel.employee.deleteEmployeeList"
                                            [nzHeader]="childPanel.primary_email" [nzExtra]="Delete">
                                            <b> Email:</b>
                                            <p> {{childPanel.primary_email}}</p>
                                            <b> First name:</b>
                                            <p>{{childPanel.first_name}}</p>
                                            <b> Last name:</b>
                                            <p>{{childPanel.last_name}}</p>
                                            <b> Phone:</b>
                                            <p>{{childPanel.phone}}</p>
                                            <b> Address:</b>
                                            <p>{{childPanel.address}}</p>
                                            <b> Personal email:</b>
                                            <p>{{childPanel.personal_email}}</p>
                                            <b>Last sync date:</b>
                                            <p>{{childPanel.modified_date}}</p>
                                            <b>Position:</b>
                                            <p>{{childPanel.position}}</p>
                                            <b>Department:</b>
                                            <p>{{childPanel.department}}</p>
                                        </nz-collapse-panel>
                                    </nz-collapse>

                                    <p>Team</p>
                                    <nz-collapse>

                                        <!-- <p> New Team</p> -->
                                        <nz-collapse-panel *ngFor="let childPanel of panel.team.newTeamList"
                                            [nzHeader]="childPanel.email" [nzExtra]="New">
                                            <b> Team name:</b>
                                            <p> {{childPanel.name}}</p>
                                            <b> Team email:</b>
                                            <p> {{childPanel.email}}</p>
                                            <b> Team description:</b>
                                            <p> {{childPanel.description}}</p>
                                        </nz-collapse-panel>
                                        <nz-collapse-panel *ngFor="let childPanel of panel.team.updateTeamList"
                                            [nzHeader]="childPanel.email" [nzExtra]="Update">
                                            <b> Team name:</b>
                                            <p> {{childPanel.name}}</p>
                                            <b> Team email:</b>
                                            <p> {{childPanel.email}}</p>
                                            <b> Team description:</b>
                                            <p> {{childPanel.description}}</p>
                                        </nz-collapse-panel>
                                        <nz-collapse-panel *ngFor="let childPanel of panel.team.deleteTeamList"
                                            [nzHeader]="childPanel.email" [nzExtra]="Delete">
                                            <b> Team name:</b>
                                            <p> {{childPanel.name}}</p>
                                            <b> Team email:</b>
                                            <p> {{childPanel.email}}</p>
                                            <b> Team description:</b>
                                            <p> {{childPanel.description}}</p>
                                        </nz-collapse-panel>
                                    </nz-collapse>

                                    <p>Department</p>
                                    <nz-collapse>
                                        <nz-collapse-panel *ngFor="let childPanel of panel.department.newDepartmentList"
                                            [nzHeader]="childPanel.name" [nzExtra]="New">
                                            <b> Department name:</b>
                                            <p> {{childPanel.name}}</p>
                                            <b> Description:</b>
                                            <p>{{childPanel.description}}</p>
                                            <b> Email:</b>
                                            <p>{{childPanel.email}}</p>
                                            <b> Modified date:</b>
                                            <p>{{childPanel.modified_date}}</p>
                                        </nz-collapse-panel>
                                        <nz-collapse-panel
                                            *ngFor="let childPanel of panel.department.updateDepartmentList"
                                            [nzHeader]="childPanel.name" [nzExtra]="Update">
                                            <b> Department name:</b>
                                            <p> {{childPanel.name}}</p>
                                            <b> Description:</b>
                                            <p>{{childPanel.description}}</p>
                                            <b> Email:</b>
                                            <p>{{childPanel.email}}</p>
                                            <b> Modified date:</b>
                                            <p>{{childPanel.modified_date}}</p>
                                        </nz-collapse-panel>
                                        <nz-collapse-panel
                                            *ngFor="let childPanel of panel.department.deleteDepartmentList"
                                            [nzHeader]="childPanel.name" [nzExtra]="Delete">
                                            <b> Department name:</b>
                                            <p> {{childPanel.name}}</p>
                                            <b> Description:</b>
                                            <p>{{childPanel.description}}</p>
                                            <b> Email:</b>
                                            <p>{{childPanel.email}}</p>
                                            <b> Modified date:</b>
                                            <p>{{childPanel.modified_date}}</p>
                                        </nz-collapse-panel>
                                    </nz-collapse>
                                    <!-- </div> -->
                                </nz-collapse-panel>
                            </nz-collapse>
                        </mat-card-content>

                        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
                    </mat-tab>
                    <!-- End Tab 1 -->
                    <!-- Tab 2 -->

                </mat-tab-group>
            </mat-card>
        </div>
    </div>
</nz-spin>